<button (click)="showAddForm = !showAddForm">Add new todo item</button>
<form>
<ul>
  <li *ngFor = "let item of todos; let i = index;">

    <input type="checkbox" name="todos" [(ngModel)]="item.completed"> <span> {{item.title}}</span>

    <div>
      <button (click)="removeItem(i)">Delete</button>
      <button (click)="update(i)">
        Edit
      </button>
    </div>
  </li>





</ul>

<div *ngIf="showAddForm">
  <app-add-todo (addEvent)="addEvent($event)"></app-add-todo>

</div>

  <app-update-todo (updateEvent)="saveUpdate($event)"></app-update-todo>




</form>
